VTU {
  font-family: "lucida calligraphy", arial, "sans serif";
  margin-left: 10pt;
  background-color: rgb(200, 255, 205);
}
USN {
  font-size: 85%;
  background-color: rgb(100, 255, 105);
}
name {
  color: blue;
  font-size: 39pt;
  font-style: italic;
  font-weight: bold;
}
college {
  color: pink;
  font-size: 25pt;
  font-style: italic;
  font-weight: bold;
}
branch {
  color: red;
  font-size: 32pt;
  font-style: italic;
}
YOJ {
  padding: 0.5cm;
}
email {
  color: green;
  font-size: 25pt;
  font-style: italic;
  font-weight: bold;
}
